<mat-card>
  <mat-card-header>
    <mat-card-title>Lista gatunków zwierząt</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" routerLink="/gatunek/create">
        + Dodaj gatunek
      </button>
    </mat-card-actions>
    <app-data-table
      [displayedColumns]="displayedColumns"
      [dataSource]="(gatunki$ | async) ?? []"
      (detailsClicked)="goToDetails($event)"
      (deleteClicked)="onDelete($event)">
    </app-data-table>
    <ng-template #loading>
      <p>Ładowanie gatunków...</p>
    </ng-template>
  </mat-card-content>
</mat-card>
