<mat-card>
  <mat-card-header>
    <mat-card-title>Lista zbiórek</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" routerLink="/zbiorki/create">
        + Dodaj zbiórkę
      </button>
    </mat-card-actions>
    <app-data-table
      [displayedColumns]="displayedColumns"
      [dataSource]="(ziorki$ | async) ?? []"
      (detailsClicked)="goToDetails($event)"
      (deleteClicked)="onDelete($event)">
    </app-data-table>
    <ng-template #loading>
      <p>Ładowanie zbiórek...</p>
    </ng-template>
  </mat-card-content>
</mat-card>
